@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-dm-sans: var(--font-dm_sans);
  --breakpoint-xs: 480px;
  --color-main: #0a7c6e;
}

.custom-search {
  @apply hidden lg:flex! justify-between items-center w-full [&>input]:w-full [&>input]:focus:outline-0 gap-5 border border-main rounded-full p-1 pl-5!;
}

.btn-main {
  @apply bg-main text-white hover:text-white/70 border-main;
}

.btn-main-outline {
  @apply btn-outline border-main text-main hover:bg-main hover:text-white;
}

/* swiper css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* updated css file */
